// ---------color---------

$primary-color: #333;
$secondary-color: #f8a12f;
$text-color: #eee;

// ---------font---------

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


link{
    color: $font-family;
    
}
